body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.centerTable {
  margin: 0px auto;
}

h2 {
    color: #3f51b5;
}

.login{
  padding-top: 100px;
  margin: auto;
  margin-top: 100px!important;
  width: 500px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.register{
  padding-top: 10px;
  margin: auto;
  margin-top: 100px!important;
  padding-bottom: 20px!important;
  width: 500px;
  border-radius: 20px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.login-text{
  font-size: 45px;
}

.register-text{
  margin-top: 20px!important;
  font-size: 45px;
}

.login-input{
  width: 300px;
}

.register-sep-text{
  color: black;
  font-size: 20px;
  margin-left: -100px;
}

.transaction-modal{
  margin: auto;
  margin-top: 200px;
  width: 500px;
  background-color: white;
  padding: 30px;
}

h2.modal-title{
  color: black;
  
}

p.invalid-text{
  color: red;
}

.btn-dash{
  margin: 50px!important;
}

.dashboard{
  padding: 50px;
}

.group-btn-dashboard{
  margin: auto;
  text-align: center;
}